h1 {
    color:#430037;
    font-family: "Calibri", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #ff87ea;
}

.head {
    text-align: center;
    width: 100%;
    padding: 40px;
}


.big_box {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_align {
    font-family: "Roboto Mono", serif;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    width: 780px;
    height: 500px;
    padding: 10px 15px;
    color: #050404;
    box-shadow: #6b0058 2px 2px 2px;
}

.image-cont {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #88036f;
}

.small-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block; /* Removes any extra spacing around the image */
    position: absolute;
}

.item1 { grid-area: menu; }
.item2 { grid-area: right; }
.item3 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'menu menu menu right right right'
    'menu menu menu footer footer footer';
    gap: 20px;
    padding: 30px;
}

.grid-container > div {
    text-align: center;
    padding: 10px;
}

.small-box {
    display: flex;
    align-items: center;
    background-color: #F1E9EF;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: #6b0058 2px 2px 2px;
    font-size: 17px;
    text-align: center;
}

.smaller-box {
    display: flex;
    align-items: center;
    background-color: #F1E9EF;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    padding-left: 90px;
    padding-right: 90px;
    box-shadow: #6b0058 2px 2px 2px;
    font-size: 17px;
    text-align: center;
}

.cancel {
    position: absolute;
    top: 150px;
    left: 310px;
    background-color: red;
    border-radius: 30px;
    color: black;
    border: none;
    font-family: "Arial";
    font-weight: bold;
    font-size: 25px;
    padding: 0px 12px 0px 12px;
}

.cancel:hover {
    transition: 0.2s ease-in;
    background-color: #a0001b;
}
